body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(pets.jpg) no-repeat center fixed;
  background-size: cover;
  color: #e6f5ea;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,
h2 {
  margin: 1em auto;
  text-align: center;
}

h2 {
  font-size: 16px;
}

label {
  display: block;
  margin: 0.4rem 0.5rem;
}

select {
  display: block;
}

input, textarea, select, text {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  background-color: #FCFCFC;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 8px 8px;
}


fieldset {
  margin-bottom: 5px;
  border: none;
  border-bottom: 5px solid #083620;
}

fieldset:last-of-type {
  border-bottom: none;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(0,77,71,.9); 
  color: #e6f5ea;
  border-radius: 0.5rem;
  padding-bottom: 1px;
}

.question {
  font-size: 20px;
}

.inline {
  width: 10%;
  margin: 5 0.5em 0 0;
  vertical-align: middle;
}

label.bio {
  margin-top: 25px;
}

input[type='checkbox'], input[type="radio"] {
  margin: 0px;
}


input[type="submit"] {
  display: block;
  width: 50%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.2rem;
  background-color: #e6f5ea;
  border-color: #083620;
  min-width: 300px;
  border-radius: 0.5rem;
  color: #004D47;
  box-shadow: 10px 5px 5px #083620;
}





